body{
    background: rgba(67, 67, 228, 0.826);
    font: normal 13pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.765);
}
div{
    padding: 10px;
}

div#res{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}